<div class="containerForm">
  <h3>Summary</h3>
  <div>
    <img src="assets/icon-reaction.svg" alt="icon-reaction" />
    <span class="reactionText">Reaction</span>
    <span>80</span>
    <span>/ 100</span>
  </div>
  <div>
    <img src="assets/icon-memory.svg" alt="icon-memory" />
    <span class="memoryText">Memory</span>
    <span>92</span>
    <span>/ 100</span>
  </div>
  <div>
    <img src="assets/icon-verbal.svg" alt="icon-verbal" />
    <span class="verbalText">Verbal</span>
    <span>61</span>
    <span>/ 100</span>
  </div>
  <div>
    <img src="assets/icon-visual.svg" alt="icon-visual" />
    <span class="visualText">Visual</span>
    <span>72</span>
    <span>/ 100</span>
  </div>
  <div>
    <input type="button" value="Continue" />
  </div>
</div>
